/*************************
*******Typography******
**************************/
@import
	url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,100)
	;

@import
	url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600,700)
	;

@import url(http://fonts.googleapis.com/css?family=Abel);

body {
	font-family: 'Roboto', sans-serif;
	background:;
	position: relative;
	font-weight: 400px;
}

th {
	text-align: center;
}

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.table>tbody>tr>td {
	vertical-align: middle;
}
/*for song*/
div.hLeft {
	float: left;
}

div.hRight {
	float: right;
}

.navbar {
	min-height: 0px;
}

.padding-top {
	padding-top: 9px;
}

.hNav {
	padding-bottom: 9px;
	padding-top: 9px;
	border-bottom: 1px solid #dcdcdc;
	display: block;
	overflow: auto;
}

.container-fluid {
	position: relative;
}
/**/
/* all*/
.my-panel {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.panel-footer {
	text-align: right;
}

.my-animate {
	transition: all 0.5s;
}
/* search bar*/
.cs-search-bar {
	display: none;
}

.cs-group-button {
	display: inline;
}
/**** header ****/
#header-wrap {
	font-size: 30px;
	height: 80px;
	line-height: 80px;
}

#header a {
	color: #f5f5f5;
}

#header-wrap .menubtn {
	display: none;
	cursor: pointer;
}

#header .flag {
	float: right;
	padding-right: 1%;
}

#header .flag a img {
	height: 25px;
	cursor: pointer;
}

.blackcolor {
	color: #0f0f0f;
}

.flag a, .flag img {
	cursor: pointer;
}

#header a {
	text-decoration: none;
}

#header, #footer {
	white-space: nowrap;/* text can't break line */
	background-color: #1a91b1;
	color: #fff;
}

#header #header-wrap {
	padding-left: 3%;
	float: left;
}

#header-wrap a {
	transition: all 0.5s;
}
/*** BODY ***/
.main-content {
	padding: 0px;
}

#main-content {
	border-right: 1px solid #dcdcdc;
	border-left: 1px solid #dcdcdc;
	position: relative;
}

.col-text-align {
	text-align: center;
}

.active-menu {
	background-color: #1a91b1;
	color: #fff;
	border: none;
}
/*.btn-default:not(.nofocus):focus
    background-color: #e6e6e6


.btn-default:not(.noactive):active
    background-color: #e6e6e6
*/
.title {
	font-size: 18px;
}

.has-error {
	color: #b22222;
}

#information-panel, #addSong-panel {
	border-top: 0px;
}

#information-panel {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

#center-container>div {
	min-height: 790px;
	margin-bottom: 20px;
}

.panel-body ul li div {
	display: inline;
}

.panel-body ul {
	list-style-type: none;
	padding: 0px;
}

.panel-body {
	padding: 1%;
}

.div-text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#footer {
	position: absolute;
	width: 100%;
	bottom: 0;
}
/* Dành cho máy tính bảng chiều ngang */
@media all and (min-width: 768px) and (max-width: 1024px) {
	#div-contenter {
		width: 100%;
	}
	#left-div {
		display: none;
	}
	#center-container {
		width: 100%;
	}
}

@media screen and (max-width: 650px) {
	.displayLabel {
		display: none;
	}
	.main-table {
		display: none;
	}
	.panel-list-mini {
		display: block;
	}
}
/* button in nav */
@media screen and (max-width: 600px) {
	.nav-button {
		display: none;
	}
}

@media screen and (max-width: 420px) {
	#list-btn-del {
		display: none;
	}
}
/* Dành cho điện thoại */
@media all and (max-width: 480px) {
	#header-wrap, #footer {
		height: 50px;
		line-height: 50px;
		transition: all 0.5s;
	}
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {
		height: auto;
	}
}
/******Reponsive*********/
@media all and (max-width: 900px) {
	#header-wrap {
		font-size: 25px;
	}
	#header-wrap .menubtn {
		display: inline-block;
	}
	.breadcrumb, #music-icon, #left-div {
		display: none;
	}
	.sidenavrp {
		padding-top: 15px;
	}
	.sidenavrp a {
		font-size: 18px;
	}
}